/* NavbarComponent.css */
.custom-navbar {
    position: sticky;
    top: 0;
    margin:10px;
    z-index: 100; /* Add a z-index to ensure it stays on top of other content */
    background-color: white; /* Change the background color as needed */
  }


/* Define styles for Nav.Link elements when hovered */
.nav-link:hover {
  background-color: whitesmoke; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
  font-size: large;
  box-shadow: 0px 2px 4px gainsboro; /* Add a shadow effect */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}



.container-fluid{
    padding: 0px;
   
}
.searchButton{
margin:5px;

}

  .proDrop{
    outline: none;
    box-shadow: none;
  }
  
  /* Style for the search button with a thin border */
  .search-button {
    border: 1px solid #ccc;
  }
  
  @media (max-width: 768px) {
    .custom-navbar .form-control {
      font-size: 20px; /* Decrease font size */
      width: 400px; /* Decrease search box size */
    }

  
    
  }
  @media (max-width: 508px) {
    .custom-navbar .form-control {
      font-size: 20px; /* Decrease font size */
      width: 280px; /* Decrease search box size */
      padding:5px;
      margin-left:10px;
    }
  }